.main {
    margin: 0;
    left: 0;
    padding:0 8%;
}

h2 pre {
    font-size: 32.5px;
}

h1 pre {
    font-size: 60px;
    padding: 5px 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.3%;
}

.intro-left {
    padding: 10px 0 20px 1%;
    /* background-color: rgb(231, 231, 231); */
    width: 35%;
    height: 78vh;
    
}

h3 {
    padding-top: 25px;
}

.intro-big-content {
    padding-top: 35%;
}

.intro-des {
    padding: 10px 0 20px 0;
    font-size: 17px;
    font-weight: 450;
    line-height: 25px;
}

.shop-now {
    display: flex;
    align-items: center;
}

.shop-now-btn {
    display: flex; /* Enables flexbox */
    align-items: center; /* Vertically centers items */
    justify-content: center; /* Horizontally centers items */
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    padding: 15px 15px 15px 20px;
    background-color: black;
    border-radius: 50px;
    color: white;
    vertical-align: center;
    cursor: pointer;

}

.shop-now-btn i {
    display: flex;
    font-size: 20px;
}

.view-cat-link {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 25px;
    text-decoration: underline;
    color: black;

}

.img-intro1 {
    width: 400px;
    height: 78vh;
    object-fit: cover;
    border-radius: 15px;
    z-index: 1;
}

.img-intro2 {
    margin-top: 50px;
    right: 8%;
    position: absolute;
    width: 500px;
    height: 28vh;
    object-fit: cover;
    border-radius: 15px;
    outline:5px solid white;
    z-index: 2;
}

.intro-right {
    padding: 25px 3%;
    /* background-color: rgb(231, 231, 231); */
    width: 66.5%;
    height: 78vh;
    
}

.intro-right-bottom {
    position: absolute;
    top: 56vh;
    right: 0;
    width: 23%;
    height: 32vh;
    margin-right: 8%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slot {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.tag {
    padding-top: 11.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag p {
    padding-top: 10px;
}

.icon-right {
    font-size: 50px;
    padding: 10px;
    /* background-color: aliceblue; */
}


