* {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin: 0;
    
}

header {
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
    font-weight: 500;
    /* background-color: aqua; */
}

.nav-bar ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav div ul li {
    list-style: none;
    margin: 0 15px;
}

nav div ul li a {
    text-decoration: none;
    color: black;
}

.other button {
    all: unset;
    cursor: pointer;
}

.logo {
    /* background-color: green; */
}

.other {
    /* background-color: yellow;     */
}

.other button {
    margin: 0px 10px;
}

.other button i {
    font-size: 27px;
}

.nav-bar {
    /* background-color: red; */
}